body {
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
}

header {
  text-align:center;
  padding:20px;
  background:#020617;
}

nav a {
  margin:10px;
  color:#22c55e;
  text-decoration:none;
}

section {
  margin:20px;
  padding:20px;
  background:#1e293b;
  border-radius:10px;
}

.plans {
  display:grid;
  gap:15px;
}

.card {
  padding:15px;
  border:1px solid #22c55e;
  border-radius:8px;
}

button {
  padding:10px 15px;
  background:#22c55e;
  border:none;
  color:black;
  cursor:pointer;
}

footer {
  text-align:center;
  padding:15px;
  background:#020617;
}
